{
  "client_id": "s0m3cl13nt",
  "client_secret": "sup3rs3cr3t",
  "token_route": "http://surroundsme.dev/oauth/token",
  "authorize_route": "http://surroundsme.dev/oauth/authorize",
  "resource_route": "http://surroundsme.dev/api/assignments",
  "resource_method": "POST",
  "resource_params": { "brand": "surroundsme" },
  "curl_options": { "http_port": 443, "verifyssl": false },
  "user_credentials": ["rob", "asdfasdf"],
  "http_options": { "exceptions": false }
}